ARCHS4
ARCHS4/*
ARCHS/data/*
ARCHS/ARCHS.Rproj
ARCHS4/human_cell_lives_archs4_gene_human_v212.tsv
ARCHS4/mouse_immune_cells_archs4_gene_mouse_v212.tsv
ARCHS4/mouse_immune_cells_metadata.tsv
recount3/*
serology/results/models/*
serology/results/pretrained_models/*
serology/serology.Rproj
serology/.Rhistory
serology/learning/__pycache__
serology/results_intermediate_encoders/models/*
serology/results_intermediate_encoders/pretrained_models/*
serology/importance_results_cpa/translation/processed
serology/importance_results_cpa/translation/processed/*
learning/__pycache__
preprocessing/.Rhistory
preprocessing/.Rproj.user/
preprocessing/preprocessed_data/cmap_*
preprocessing/preprocessed_data/all_cmap_*
preprocessing/preprocessed_data/gsea_distances_a375_ht29.rds
preprocessing/LoadExternalData.R
preprocessing/preprocessed_data/landmarks_gsea_distances_a375_ht29.rds
preprocessing/preprocessed_data/baselineCell/cmap_all_baselines_q1.rds
preprocessing/preprocessed_data/baselineCell/cmap_all_baselines_q1.csv
preprocessing/preprocessed_data/baselineCell/cmap_all_baselines_10k_q1.csv
preprocessing/preprocessed_data/baselineCell
postprocessing/.Rhistory
postprocessing/.Rproj.user/
postprocessing/output1.txt
postprocessing/output2.txt
postprocessing/CellSimilarityApproach.R
figures/.Rhistory
figures/.Rproj.user/
figures/.ipynb_checkpoints
figures/MI_results/allgenes_10fold_validation_autoencoders_comparison_allgenes_ht29.eps
figures/MI_results/allgenes_10fold_validation_reconstruction_autoencoders_comparison_allgenes_a375.eps
figures/MI_results/allgenes_10fold_validation_reconstruction_autoencoders_comparison_allgenes_ht29.eps
figures/MI_results/allgenes_autoencoders_compare_allgenes_a375.eps
figures/MI_results/landmarks_10fold_validation_autoencoders_comparison_ht29.eps
figures/MI_results/landmarks_10fold_validation_reconstruction_autoencoders_comparison_a375.eps
figures/MI_results/landmarks_10fold_validation_reconstruction_autoencoders_comparison_ht29.eps
figures/MI_results/landmarks_autoencoders_compare_a375.eps
figures/*.eps
figures/pca_controls_ccle_all.png
figures/tfs_vs_direct_translating_comparison.ps
figures/tfs_vs_genes_translating_comparison.ps
data/geneinfo_beta.txt
data/level5_beta_trt_cp_n720216x12328.gctx
data/siginfo_beta.txt
data/compoundinfo_beta.txt
data/CCLE/*.csv
results/FITmodel_results/models_noReg/*
results/FITmodel_results/models/*
results/TransCompR_results/models/*
results/TransCompR_results/embs/validation/*
results/TransCompR_results/embs/train/*
results/TransCompR_results/models_10k.zip
results/ANNmixedTransCompR_results
results/ANNmixedTransCompR_results_10k
results/CPAmixedTransCompR_results
results/CPAmixedTransCompR_results_10k
results/ANNmixedTransCompR_results/models/*
results/ANNmixedTransCompR_results/pretrained_models/*
results/ANNmixedTransCompR_results/embs/validation/*
results/ANNmixedTransCompR_results/embs/train/*
results/ANNmixedTransCompR_results_10k/models.zip
results/ANNmixedTransCompR_results_10k/pretrained_models.zip
results/CPAmixedTransCompR_results/models/*
results/CPAmixedTransCompR_results/models_pcaLoss/*
results/CPAmixedTransCompR_results/pretrained_models/*
results/CPAmixedTransCompR_results/embs/validation/*
results/CPAmixedTransCompR_results/embs/train/*
results/CPAmixedTransCompR_results/models_10k_cpa_loss.zip
results/CPAmixedTransCompR_results/models_10k.zip
results/CPAmixedTransCompR_results_10k/models_10k_cpa_loss.zip
results/CPAmixedTransCompR_results_10k/models_10k.zip
results/CPAmixedTransCompR_results_10k/pretrained_models_10k.zip
results/deepcellstate_results/models/*
results/my_results/models/*
results/my_results/embs/train/*
results/my_results/embs/validation/*
results/MI_results/embs/*
results/MI_results/models/*
results/Importance_results/important_scores_*
results/trained_models/*.pth
results/trained_embs_all/*.csv
results/trained_models/alldata_cpa_Vsp_pc3_ha1e.pt
results/trained_models/alldata_cpa_adverseclassifier_pc3_ha1e.pt
results/trained_models/alldata_cpa_classifier_pc3_ha1e.pt
results/trained_models/alldata_cpa_decoder_ha1e.pt
results/trained_models/alldata_cpa_decoder_pc3.pt
results/trained_models/alldata_cpa_encoder_ha1e.pt
results/trained_models/alldata_cpa_encoder_pc3.pt
results/trained_models/alldata_cpa_locald_pc3_ha1e.pt
results/trained_models/alldata_cpa_priord_pc3_ha1e.pt
results/all_gensetsEnrich_results_allgenes_drugs_a375_ht29.rds
results/all_gensetsEnrich_results_allgenes_drugs_pc3_ha1e.rds
results/all_gensetsEnrich_results_landmarks_drugs_a375_ht29.rds
results/all_gensetsEnrich_results_landmarks_drugs_pc3_ha1e.rds
results/deepcellstate_results_10kgenes/allembs_*
results/deepcellstate_results_10kgenes/alldata_*
results/trained_models/alldata_cpa_Vsp_a375_ht29.pt
results/trained_models/alldata_cpa_adverseclassifier_a375_ht29.pt
results/trained_models/alldata_cpa_classifier_a375_ht29.pt
results/trained_models/alldata_cpa_decoder_a375.pt
results/trained_models/alldata_cpa_decoder_ht29.pt
results/trained_models/alldata_cpa_encoder_a375.pt
results/trained_models/alldata_cpa_encoder_ht29.pt
results/trained_models/alldata_cpa_locald_a375_ht29.pt
results/trained_models/alldata_cpa_priord_a375_ht29.pt
results/trained_models/alldata_landmarks_cpa_Vsp_a375_ht29.pt
results/trained_models/alldata_landmarks_cpa_Vsp_pc3_ha1e.pt
results/trained_models/alldata_landmarks_cpa_adverseclassifier_a375_ht29.pt
results/trained_models/alldata_landmarks_cpa_adverseclassifier_pc3_ha1e.pt
results/trained_models/alldata_landmarks_cpa_classifier_a375_ht29.pt
results/trained_models/alldata_landmarks_cpa_classifier_pc3_ha1e.pt
results/trained_models/alldata_landmarks_cpa_decoder_a375.pt
results/trained_models/alldata_landmarks_cpa_decoder_ha1e.pt
results/trained_models/alldata_landmarks_cpa_decoder_ht29.pt
results/trained_models/alldata_landmarks_cpa_decoder_pc3.pt
results/trained_models/alldata_landmarks_cpa_encoder_a375.pt
results/trained_models/alldata_landmarks_cpa_encoder_ha1e.pt
results/trained_models/alldata_landmarks_cpa_encoder_ht29.pt
results/trained_models/alldata_landmarks_cpa_encoder_pc3.pt
results/trained_models/alldata_landmarks_cpa_locald_a375_ht29.pt
results/trained_models/alldata_landmarks_cpa_locald_pc3_ha1e.pt
results/trained_models/alldata_landmarks_cpa_priord_a375_ht29.pt
results/trained_models/alldata_landmarks_cpa_priord_pc3_ha1e.pt
results/trained_models/trained_models.zip
results/SameCellimputationModel/models_ae
results/SameCellimputationModel/models_AutoTransOp
results/SameCellimputationModel/preds_AutoTransOp
results/SameCellimputationModel/IntermediateEncoder/models_AutoTransOp
results/SameCellimputationModel/IntermediateEncoder/preds_AutoTransOp
results/SameCellimputationModel/CPA/models_AutoTransOp
results/SameCellimputationModel/CPA/preds_AutoTransOp
results/SameCellimputationModel/all_kegg_results_same_cell_imputated.rds
results/SameCellimputationModel/kegg_erichment_same_cell_imputation_original.rds
results/SameCellimputationModel/go_enrichment_same_cell_imputation_original.rds
results/test_stuff
learning/.ipynb_checkpoints
preprocessing/preprocessed_data/sampledDatasetes/A375_HT29/*.csv
preprocessing/preprocessed_data/sampledDatasetes/A375_PC3/*.csv
preprocessing/preprocessed_data/sampledDatasetes/HA1E_VCAP/*.csv
preprocessing/preprocessed_data/sampledDatasetes/HT29_MCF7/*.csv
preprocessing/preprocessed_data/sampledDatasetes/HT29_PC3/*.csv
preprocessing/preprocessed_data/sampledDatasetes/MCF7_HA1E/*.csv
preprocessing/preprocessed_data/sampledDatasetes/MCF7_PC3/*.csv
preprocessing/preprocessed_data/sampledDatasetes/PC3_HA1E/*.csv
preprocessing/preprocessed_data/sampledDatasetes/pairedPercs/*.csv
preprocessing/preprocessed_data/sampledDatasetes/ratiosA375/*.csv
preprocessing/preprocessed_data/sampledDatasetes/ratiosHT29/*.csv
preprocessing/preprocessed_data/10fold_validation_spit/alldata/ha1e_unpaired_untreated.csv
preprocessing/preprocessed_data/10fold_validation_spit/alldata/ht29_unpaired_untreated.csv
preprocessing/preprocessed_data/10fold_validation_spit/alldata/paired_untreated_pc3_ha1e.csv
preprocessing/preprocessed_data/10fold_validation_spit/alldata/pc3_unpaired_untreated.csv
preprocessing/preprocessed_data/AllfilteredDrugs.csv
preprocessing/preprocessed_data/conditions_PC3_HA1E.csv
preprocessing/preprocessed_data/ccle_l1000genes.csv
preprocessing/preprocessed_data/conditions_HA1E_PC3.csv
preprocessing/preprocessed_data/sampledDatasetes/A375_HT29/pre_trained_classifier_adverse_1_lands.pt
preprocessing/preprocessed_data/sampledDatasetes/HT29_PC3/pre_trained_classifier_adverse_1_lands.pt
preprocessing/preprocessed_data/sampledDatasetes/MCF7_HA1E/pre_trained_classifier_adverse_1_lands.pt
preprocessing/preprocessed_data/sampledDatasetes/MCF7_PC3/pre_trained_classifier_adverse_1_lands.pt
preprocessing/preprocessed_data/sampledDatasetes/PC3_HA1E/pre_trained_classifier_adverse_1_lands.pt
serology/importance_results/*
learning/__pycache__/
learning/ANNmixedTransCompRModel.py
learning/ANNmixedTransCompRModel_PCALoss.py
learning/buildFrame.py
learning/models_satori.py
learning/embeed.py
learning/ReSave.py
learning/TranslationalAutoencoder_addCells.ipynb
learning/TranslationModel_allgenes.py
learning/TrainALL.py
learning/TranslationModel.py
learning/trainMultiplePairs.ipynb
learning/PreTrainAdverseClass.py
.Rproj.user
.Rhistory
article_supplementary_info/*.eps
serology/.Rhistory
serology/*.eps
serology/*.pdf
serology/results_intermediate_encoders/*.eps
serology/results_intermediate_encoders/embs/combined_10fold.zip
serology/results_intermediate_encoders/embs/combined_10fold/*
serology/results_intermediate_encoders/embs/10fold_1000ep/*
serology/results_intermediate_encoders/embs/*.csv
serology/results_intermediate_encoders/models/10fold_1000ep
serology/results_intermediate_encoders/models/10fold_1000ep/*
serology/results_intermediate_encoders/pretrained_models/5fold
serology/results_intermediate_encoders/pretrained_models/5fold/*
serology/results/10foldvalidation_*
serology/results/translated/*
serology/results/translated
serology/results_intermediate_encoders/translated/*
serology/results_intermediate_encoders/translated
serology/results/*.eps
serology/results/embs/combined_10fold.zip
serology/results/embs/combined_10fold/*
serology/results/embs/10fold_1000ep/*
serology/results/embs/*.csv
serology/results/models/10fold_1000ep
serology/results/models/10fold_1000ep/*
serology/results/pretrained_models/5fold
serology/results/pretrained_models/5fold/*
serology/learning/translate2human_cpa.py
serology/learning/translate2human_intermediate_encoders.py
serology/data/*.csv
serology/data/*.xlsx
serology/evalTranslation.R
serology/learning/translate2human_cpa.py
serology/learning/translate2human_intermediate_encoders.py
serology/importance_results/human_important_features_and_expression_in_samples.csv
serology/importance_results_cpa/human_important_features_and_expression_in_samples.csv
figures/*.eps
figures/*.ps
figures/*.png
figures/.Rhistory
figures/MI_results/*.eps